{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load paginate %}
{% block content%}
<!-- OPPORTUNITY VIEW STARTS -->
<div class="main_container" id="maincontainer">
<div class="overview_form_block row marl justify-content-center">
   <div class="col-md-6">
      <div class="card">
         <div class="card-body" id="datashow">
            <div class="panel-heading card-title view-pad text-center">
               <h5>
                  Overview

               </h5>
               <a href="{% url 'common:edit_team' team_obj.id %}" class="btn btn-success edit">Edit</a>
            </div>
            <div class="row marl no-gutters">
               <div class="col-md-6">
                  {% if team_obj.name %}
                  <div class="filter_col col-md-12">
                     <div class="form-group">
                        <label class="team_field_label" for="id_title" data-name="title">Team Name</label>
                        <div class="team_field" id="team_name" data-name="name">{{ team_obj.name }} </div>
                     </div>
                  </div>
                  {% endif %}
               </div>
               <div class="col-md-6">
                  <div class="filter_col col-md-12">
                     <div class="form-group">
                        <label class="team_field_label" for="id_created_by" data-name="created_by">Role</label>
                        <div class="team_field" id="created_by" data-name="created_by">{{ team_obj.role }}</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
       <div class="card">
          <div class="card-body" id="datashow">
             <div class="panel-heading card-title view-pad text-center">
                <h5 class="text-center">
                   Team Users List
                </h5>
             </div>
             <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                   {% if team_obj.members.all|length > 0 %}
                   <thead>
                      <tr>
                         <th width="5%" style="text-align:center;">Username</th>
                         <th width="25%" style="text-align:center;">Email</th>
                      </tr>
                   </thead>
                   {% endif %}
                   <tbody>
                      {% if per_page %}
                      {% paginate per_page users_list %}
                      {% else%}
                      {% paginate 10 users_list%}
                      {% endif %}
                      {% for user in users_list %}
                      <tr id="teams_details{{user.id}}" class="text-center">
                         <td scope="row"><a href="{% url 'common:view_user' user.id %}">{{ user.username }}</a></td>
                         <td>{{ user.email }}</td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
             </div>
             {% ifequal users_list|length 0 %}
             <h6 class="text-center">No User Records Found</h6>
             {% endifequal %}
             <div class="text-center row marl">
                {% show_pages %}
             </div>
          </div>
       </div>
    </div>
   </div>
</div>
<!-- OPPORTUNITY VIEW ENDS -->
{% endblock %}